<!DOCTYPE html>
<html lang="noo">
<head>
    <meta charset="UTF-8">
    <title>気分に合わせたラーメン選び</title>
    <div class="container">
        <div class="item"></div>
      </div>
    <style>
        p{
            font-size: 50px;
            text-align:center;
        }
        
        
        
        </style>

</head>
<body>
    <!-- <p>あなたの気分は<%= your %>です．</p> -->
    <p>今の気分ラーメンは<%= judgement %>だよ<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
    </body>
    </html></p>
    <div class="container">
    <form action="/noo" class="centered-form">
        <h1>普通, あんまり, いい感じ, やばい, 最高, 物足りないの中から今の気分を入力して</h1>
        <label for="hand"><input type="text" placeholder="気分を教えて" name="hand" required>
        </label>
        <input type="submit" value="Send">
        
    
    </form>
</div> 
</body>
</html>