<!DOCTYPE html>
<html lang="ppap">
<head>
    <meta charset="UTF-8">
    <title>ppap</title>
</head>
<body>
    <p>太郎:<%= your %>．</p>
    <p>ピコ太郎判定：<%= judgement %></p>
    <hr>
    <form action="/ppap">
        <input type="text" name="hand" required>
        <label for="hand">pen, Apple, Pineappleから一つ選んで入力しよう！</label>
        <input type="submit" values="ppap">
    </form>   
</body>
</html>